<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<div class="mb-4">
  <label class="block text-gray-700 lg:text-sm font-bold mb-2">
    Project Description
  </label>
  <div id="editor"><%= project.description %></div>
  <input id="hiddenArea" name="description" value="" type="hidden" style="display: none;">
  <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Describe your project in full detail.</p>
</div>

<script>
  // Setup toolbar options
  var toolbarOptions = [
    [{ 'header': [1, 2, 3, false] }],
    ['bold', 'italic', 'underline'],        // toggled buttons

    // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],

    ['clean']                                         // remove formatting button
  ];

  // Initialize editor
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });

  // Update hidden field
  const hidden = document.querySelector('#hiddenArea');
  let quillVal = quill.container.firstChild.innerHTML;
  hidden.value = quillVal;

  quill.on('text-change', function() {
    let quillVal = quill.container.firstChild.innerHTML;
    hidden.value = quillVal;
  });
</script>

<style>
  #editor {
    height: 350px;
  }
</style>
