<a href="/admin/<%= @slug %>/projects/<%= project.slug %>">
  <div class="rounded shadow my-4 bg-white w-full px-10 py-8 mx-auto hover:shadow-lg">
    <div class="mb-2">
      <p class="font-bold text-2xl mb-2">
        <%= project.title %>
      </p>
      <p class="text-gray-600">
        <%= project.summary %>
      </p>
    </div>
  </div>
</a>
