<div class="text-gray-700 text-center my-10">
  <p class="text-2xl font-bold">
    Welcome to your portfolio dashboard!
  </p>
  <p>
    You can add new projects and update your profile.
  </p>
</div>

<div class="w-full lg:w-3/4 mx-auto">

  <div class="flex justify-around">
    <div class="w-2/5 inline-block">
      <a href="/<%= @slug %>" target="_blank" class="w-full">
        <div class="flex items-center rounded shadow mb-8 bg-white hover:shadow-lg">
          <div class="px-6 py-10 flex flex-col items-center w-full">
            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
            <div class="font-bold text-2xl my-2">
              Public Portfolio
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="w-2/5 inline-block">
      <a href="/admin/<%= @slug %>/profile" class="w-full">
        <div class="flex items-center rounded shadow mb-8 bg-white hover:shadow-lg">
          <div class="px-6 py-10 flex flex-col items-center w-full">
            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.94 6.5L2.22 3.64l1.42-1.42L6.5 3.94c.52-.3 1.1-.54 1.7-.7L9 0h2l.8 3.24c.6.16 1.18.4 1.7.7l2.86-1.72 1.42 1.42-1.72 2.86c.3.52.54 1.1.7 1.7L20 9v2l-3.24.8c-.16.6-.4 1.18-.7 1.7l1.72 2.86-1.42 1.42-2.86-1.72c-.52.3-1.1.54-1.7.7L11 20H9l-.8-3.24c-.6-.16-1.18-.4-1.7-.7l-2.86 1.72-1.42-1.42 1.72-2.86c-.3-.52-.54-1.1-.7-1.7L0 11V9l3.24-.8c.16-.6.4-1.18.7-1.7zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
            <div class="font-bold text-2xl my-2">
              Your Profile
            </div>
          </div>
        </div>
      </a>
    </div>


  </div>

  <div class="flex justify-around">

    <div class="w-2/5 inline-block">
      <a href="/admin/<%= @slug %>/projects" class="w-full">
        <div class="flex items-center rounded shadow mb-8 bg-white hover:shadow-lg">
          <div class="px-6 py-10 flex flex-col items-center w-full">
            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 4h20v2H0V7zm0 4h20v2H0v-2zm0 4h20v2H0v-2z"/></svg>
            <div class="font-bold text-2xl my-2">
              Projects
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-2/5 inline-block">
      <a href="/support" target="_blank" class="w-full">
        <div class="flex items-center rounded shadow mb-8 bg-white hover:shadow-lg">
          <div class="px-6 py-10 flex flex-col items-center w-full">
            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-13c0 .28-.21.8-.42 1L10 9.58c-.57.58-1 1.6-1 2.42v1h2v-1c0-.29.21-.8.42-1L13 9.42c.57-.58 1-1.6 1-2.42a4 4 0 1 0-8 0h2a2 2 0 1 1 4 0zm-3 8v2h2v-2H9z"/></svg>
            <div class="font-bold text-2xl my-2">
              Support
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
