<section class="my-8 w-full lg:w-5/6 mx-auto">
  <div>
    <p class="text-red-500 font-semibold">
      <a href="/admin/<%= @slug %>">
        &larr; Back to the dashboard
      </a>
    </p>
  </div>
</section>

<section class="w-full lg:w-5/6 mx-auto">
  <% if flash %>
    <%= erb :'shared/alert', locals: { flash: flash  } %>
  <% end %>
</section>

<div class="rounded shadow my-8 bg-white w-full lg:w-5/6 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2">
    Profile Settings
  </div>
  <div class="markdown-text mb-3">
    <p>
      This profile information appears on your portfolio site. Please keep it updated.
    </p>
  </div>

  <form class="my-6" method="POST" action="profile/update">
    <input name="_method" value="patch" type="hidden">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Your Summary
      </label>
      <textarea class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" rows="2" name="summary" required><%= @account.summary %></textarea>
      <p class="text-gray-600 text-xs italic">A brief description of your background and goals.</p>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update your profile
      </button>
    </div>

  </form>
</div>


<div class="rounded shadow my-8 bg-white w-full lg:w-5/6 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2 ">
    Resume Settings
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">
      Your Resume
    </label>

    <% if (@account.resume) and (!@account.resume.empty?) %>
    <div class="mb-2">
      <a href="/resumes/<%= @account.resume %>" class="text-blue-600" target="_blank">View current resume</a>
    </div>
    <% end %>

    <form class="my-6" method="POST" action="profile/resume" enctype="multipart/form-data">
      <input name="_method" value="patch" type="hidden">
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="resume" type="file" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/octet-stream" id="resume-upload" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">
        Please use a PDF or Word file. The file must be less than 3 MB.
      </p>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Update resume
        </button>
      </div>
    </form>
  </div>
</div>

<div class="rounded shadow my-8 bg-white w-full lg:w-5/6 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2">
    Login Settings
  </div>
  <div class="markdown-text mb-3">
    <p>
      If you want to change your password.
    </p>
  </div>

  <form class="my-6" method="POST" action="profile/update-password">
    <input name="_method" value="patch" type="hidden">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        New Password
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" name="password" minlength="8" maxlength="30" required>
      <p class="text-gray-600 text-xs italic">Must be at least 8 characters.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Password Confirmation
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" name="password-confirm" minlength="8" maxlength="30" required>
      <p class="text-gray-600 text-xs italic">Must be the same as above.</p>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update your password
      </button>
    </div>

  </form>

</div>


<script>
  const uploadField = document.getElementById("headshot-upload");

  uploadField.onchange = function() {
    if(this.files[0].size > 1097152){
       alert("File is too big!");
       this.value = "";
    };
  };
</script>


<script>
  const resumeField = document.getElementById("resume-upload");

  resumeField.onchange = function(e) {
    if(this.files[0].size > 3097152) {
       alert("File is too big!");
       this.value = "";
    };
  };
</script>
