<section class="mt-24 w-3/4 mx-auto">
  <div class="text-center mb-8">
    <div class="mb-3">
      <p class="text-5xl lg:text-3xl font-bold">
        <%= flash[:heading] || "Your request has been sent" %>
      </p>
    </div>
    <div class="">
      <p class="text-3xl lg:text-xl text-gray-600">
        <%= flash[:subheading] %>
      </p>
    </div>
  </div>
</section>
