<section class="mt-16 mb-32">
  <div class="text-center">
    <div class="w-full lg:w-1/2 mx-auto rounded mb-16">
      <img src="hero-blue.png" alt="" class="">
    </div>
    <div class="my-8">
      <div class="text-6xl lg:text-5xl font-semibold mb-2">
        Build your portfolio in minutes
      </div>
      <div class="text-4xl lg:text-3xl text-gray-600 mb-6 max-w-4xl m-auto lg:block">
        Spend more time on your projects
      </div>
    </div>
    <div>
      <a href="/register" class="text-2xl">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-3 px-4 border border-gray-400 hover:border-transparent rounded" type="button">
          Get started
        </button>
      </a>
      <a href="/preeti-kuls" target="_blank" class="text-2xl">
        <button class="bg-white text-blue-600 hover:bg-blue-700 hover:text-white font-medium py-3 px-4 border border-gray-400 hover:border-transparent rounded shadow-sm" type="button">
          See an example
        </button>
      </a>
    </div>
  </div>
</section>

<hr>

<section class="my-24">
  <div class="w-full text-center mb-32">
    <div class="text-5xl lg:text-4xl font-bold mb-2 ">
      A better way to share your experience
    </div>
    <div class="text-3xl lg:text-2xl text-gray-600 mb-6 max-w-4xl m-auto lg:block">
      Employers want to see what you've made and how you communicate!
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:items-center lg:justify-around">
    <div class="text-left w-full lg:w-5/12 inline-block">
      <div class="mb-12">
        <div class="text-5xl lg:text-3xl font-bold mb-2 ">
          Build a portfolio with ease
        </div>
        <div class="text-3xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
          Add a few details and you're ready to go
        </div>
      </div>
      <div class="">
        <div class="mb-8 flex">
          <button class="bg-blue-500 hover:bg-blue-700 text-white text-2xl lg:text-base font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-flex items-center" type="button" style="height:100%;">
            <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.7 9.3l4.8-4.8 1.4 1.42L2.84 10l4.07 4.07-1.41 1.42L0 10l.7-.7zm18.6 1.4l.7-.7-5.49-5.49-1.4 1.42L17.16 10l-4.07 4.07 1.41 1.42 4.78-4.78z"/></svg>
          </button>
          <div class="ml-5">
            <p class="text-3xl lg:text-xl font-semibold mb-2">
              Projects
            </p>
            <p>
              Showcase projects that you've built with documentation and a link to your source code.
            </p>
          </div>
        </div>
        <div class="mb-8 flex">
          <button class="bg-blue-500 hover:bg-blue-700 text-white text-2xl lg:text-base font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-flex items-center" type="button" style="height:100%;">
            <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z"/></svg>
          </button>
          <div class="ml-5">
            <p class="text-3xl lg:text-xl font-semibold mb-2">
              Articles
            </p>
            <p>
              Share tutorials about technical concepts that you have mastered with the developer community.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center w-4/5 mx-auto lg:w-5/12 inline-block">
      <div class="text-3xl font-bold mb-2 rounded border border-gray-400">
        <img src="preview-portfolio.png" alt="">
      </div>
    </div>
  </div>
  <div class="text-center mt-24 w-8/12 mx-auto">
    <div class="mb-12">
      <div class="text-3xl lg:text-2xl font-medium mb-4">
        Students spend hours and sometimes days on custom portfolios. Employers look at documentation, project structure and technical proficiency. Custom portfolios only make sense for design students.
      </div>
      <div class="text-3xl lg:text-xl mb-6 max-w-3xl m-auto lg:block">
        <span class="font-medium">Ty Shaikh </span><span class="text-blue-600 text-2xl font-semibold">/</span> <span class="text-gray-600">General Assembly</span
      </div>
    </div>
  </div>
</section>

<hr>

<section class="my-24">
  <div class="text-center">
    <div class="text-6xl lg:text-5xl font-bold mb-12">
      Pricing & Plans
    </div>
  </div>
  <div class="flex justify-evenly">
    <div class="rounded text-center border border-gray-300 w-full lg:w-1/3 bg-white" style="height: 100%;">
      <div class="border-b border-gray-300 py-4 bg-gray-700">
        <p class="text-5xl text-white font-medium">
          Free
        </p>
      </div>
      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-5xl">
          $0
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Unlimited projects
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Unlimited blogging
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Embed your resume
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Contact form
        </p>
      </div>
      <div class="border-gray-300 pt-2 pb-4 my-4">
        <a href="/register">
          <button class="bg-blue-500 hover:bg-blue-400 text-white text-2xl font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
            Get started
          </button>
        </a>
      </div>
    </div>
    <div class="rounded text-center border border-gray-300 w-full lg:w-1/3 bg-white">
      <div class="border-b border-gray-300 py-4 bg-gray-700">
        <p class="text-5xl text-white font-medium">
          Premium
        </p>
      </div>
      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-5xl">
          $50
        </p>
        <p class="text-base text-gray-700">
          Lifetime License
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Unlimited projects
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Unlimited blogging
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl">
          Embed your resume
        </p>
      </div>
      <div class="border-b border-gray-300 pb-4 my-6">
        <p class="text-2xl">
          Contact form
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl font-medium">
          Custom domain
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl font-medium">
          Private projects
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl font-medium">
          Embed explainer video
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl font-medium">
          Change colors and font
        </p>
      </div>
      <div class="my-6">
        <p class="text-2xl font-medium">
          Custom favicon
        </p>
      </div>
      <div class="border-gray-300 pt-2 pb-4 my-4">
        <button class="bg-gray-500 hover:bg-gray-400 text-white text-2xl font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded">
          Coming soon
        </button>
      </div>
    </div>
  </div>
</section>
