<section class="mt-16 mb-8">
  <div class="text-center">
    <div class="text-6xl lg:text-4xl font-bold mb-2">
      Build your bootcamp portfolio in minutes
    </div>
    <div class="text-4xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Save time with our easy to use builder
    </div>
    <div class="w-full lg:w-1/2 mx-auto rounded border mb-4">
      <a href="" target="_blank">
        <img src="" alt="">
      </a>
    </div>
    <p class="text-sm text-gray-600 italic">
      Click the image to view our demo
    </p>
  </div>
</section>

<hr>

<section class="mt-16 mb-8 flex items-center justify-around">
  <div class="text-center w-1/2 inline-block" style="width: 43%;">
    <div class="text-4xl lg:text-3xl font-bold mb-2">
      Showcase your projects
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Every project gets a full detail page and links to external resources like code repos or mockups.
    </div>
  </div>
  <div class="text-center w-1/2 inline-block" style="width: 43%;">
    <div class="text-3xl font-bold mb-2 rounded border">
      <img src="preview-linkedin.png" alt="">
    </div>
  </div>
</section>

<hr>

<section class="mt-16 mb-8 flex items-center justify-around">
  <div class="text-center w-1/2 inline-block" style="width: 43%;">
    <div class="text-3xl font-bold mb-2 rounded border">
      <img src="preview-single-job.png" alt="">
    </div>
  </div>
  <div class="text-center w-1/2 inline-block" style="width: 43%;">
    <div class="text-4xl lg:text-3xl font-bold mb-2">
      Get contacted effortlessly
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Share your PDF resume and have a contact form for any messages from employers.
    </div>
  </div>
</section>

<hr>

<section class="my-16 flex items-center justify-around">
  <div class="text-center w-full lg:w-1/2 inline-block" style="width: 43%;">
    <div class="text-4xl lg:text-3xl font-bold mb-2">
      Share tutorials and insights
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Each portfolio comes in with a built-in blogging component. No need to maintain a separate blog.
    </div>
  </div>
  <div class="text-center w-full lg:w-1/2 inline-block" style="width: 43%;">
    <div class="text-3xl font-bold mb-2 rounded border">
      <img src="preview-backend.png" alt="">
    </div>
  </div>
</section>

<hr>

<!-- Free vs premium tier -->
<section class="my-16">
  <div class="text-center w-full lg:w-1/2 mx-auto">
    <div class="text-4xl lg:text-3xl font-bold mb-2">
      Simple monthly pricing
    </div>
    <div class="text-3xl text-gray-600 mb-6 max-w-3xl m-auto font-medium">
      $100 per team
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto">
      Unlimited team members
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto">
      Unlimited positions
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto">
      Unlimited candidates
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto">
      Onboarding help and support when you need it
    </div>
    <div class="text-2xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto">
      New features added monthly
    </div>
  </div>
</section>
