<section class="mt-16 mb-24">
  <div class="text-center">
    <div class="text-6xl lg:text-4xl font-bold mb-2">
      Build your bootcamp portfolio in minutes
    </div>
    <div class="text-4xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Save time with our easy to use builder
    </div>
    <div class="w-full lg:w-1/2 mx-auto rounded border border-blue-400 mb-4">
      <a href="/karen-jones" target="_blank">
        <img src="preview-home.png" alt="" class="opacity-75">
      </a>
    </div>
  </div>
</section>

<hr>

<section class="my-24 flex flex-col lg:flex-row lg:items-center lg:justify-around">
  <div class="text-center w-full lg:w-5/12 inline-block">
    <div class="text-5xl lg:text-3xl font-bold mb-2">
      Showcase your projects
    </div>
    <div class="text-3xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Explain your project with a write-up and link to external code
    </div>
  </div>
  <div class="text-center w-4/5 mx-auto lg:w-5/12 inline-block">
    <div class="text-3xl font-bold mb-2 rounded border">
      <img src="preview-project.png" alt="">
    </div>
  </div>
</section>

<hr>

<section class="my-24 flex flex-col lg:flex-row lg:items-center lg:justify-around">
  <div class="text-center w-4/5 mx-auto lg:w-5/12 inline-block">
    <div class="text-3xl font-bold mb-2 rounded border">
      <img src="preview-contact.png" alt="">
    </div>
  </div>
  <div class="text-center w-full lg:w-5/12 inline-block order-first lg:order-last">
    <div class="text-5xl lg:text-3xl font-bold mb-2">
      Get contacted effortlessly
    </div>
    <div class="text-3xl lg:text-xl text-gray-600 mb-6 max-w-3xl m-auto lg:block">
      Inbound messages go to directly to your personal email
    </div>
  </div>
</section>

<hr>

<!-- Free vs premium tier -->
<section class="my-24">
  <div class="text-center">
    <div class="text-6xl lg:text-4xl font-bold mb-12">
      Pricing & Plans
    </div>
  </div>

  <div class="flex justify-evenly">
    <div class="rounded text-center border border-gray-300 w-full lg:w-1/3" style="height: 100%;">
      <div class="border-b border-gray-300 py-4 bg-gray-700">
        <p class="text-5xl text-white font-medium">
          Free
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-5xl">
          $0
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Unlimited projects
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Resume upload
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Contact form
        </p>
      </div>

      <div class="border-gray-300 pt-2 pb-4 my-4">
        <a href="/register">
          <button class="bg-blue-500 hover:bg-blue-400 text-white text-2xl font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
            Get started
          </button>
        </a>
      </div>

    </div>
    <div class="rounded text-center border border-gray-300 w-full lg:w-1/3">
      <div class="border-b border-gray-300 py-4 bg-gray-700">
        <p class="text-5xl text-white font-medium">
          Premium
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-5xl">
          $40
        </p>
        <p class="text-base text-gray-700">
          Lifetime License
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Unlimited projects
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Resume upload
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl">
          Contact form
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl font-medium">
          Blogging
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl font-medium">
          Use a custom domain
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl font-medium">
          Password protection option
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl font-medium">
          Custom theme and font options
        </p>
      </div>

      <div class="border-b border-gray-300 pt-2 pb-4 my-4">
        <p class="text-2xl font-medium">
          Custom favicon
        </p>
      </div>

      <div class="border-gray-300 pt-2 pb-4 my-4">
        <button class="bg-gray-500 hover:bg-gray-400 text-white text-2xl font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded">
          Coming soon
        </button>
      </div>

    </div>
  </div>

</section>
