<section class="mt-16 w-1/2 mx-auto">
  <div class="text-center">
    <div class="text-3xl font-bold mb-2">
      Create a new account
    </div>
    <div class="text-base text-gray-600 mb-8 max-w-3xl m-auto">
      <a href="/login" class="text-blue-600 hover:text-blue-400">Or login to your account</a>
    </div>
    <% if flash %>
      <%= erb :'shared/alert', locals: { flash: flash  } %>
    <% end %>
  </div>
</section>

<section class="mt-6 mb-12 w-2/5 mx-auto">
  <form method="POST" action="/register">
      <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4 shadow-sm">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Name
          </label>
          <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" name="name" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Email address
          </label>
          <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="email" name="email" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Password
          </label>
          <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" name="password" minlength="8" maxlength="20" required>
          <p class="text-gray-600 text-xs italic">Must be 8 characters or more.</p>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Confirm Password
          </label>
          <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" name="password-confirm" minlength="8" maxlength="20" required>
        </div>
        <div class="flex items-center justify-between">
          <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Create account
          </button>
        </div>
      </div>

    </div>



  </form>
</section>
