<% content_for :head do %>
  <title><%= @account.name %> - Portfolio</title>
<% end %>

<section class="mt-8">
  <div>
    <p class="text-red-500 font-semibold text-2xl lg:text-base">
      <a href="/<%= @account.slug %>">
        &larr; Back to the portfolio
      </a>
    </p>
  </div>
</section>

<section class="mt-10">
  <%= erb :'portfolio/_article', locals: { article: @article } %>
</section>

<section class="mb-4">
  <div class="text-3xl lg:text-base rounded border border-gray-300 bg-white px-10 py-2">
    <p class="markdown-text text-black"><%= @article.description %></p>
  </div>
</section>

<script>
  const markdownText = Array.from(document.querySelectorAll('.markdown-text'));
  markdownText.forEach(text => text.innerHTML = marked(text.innerHTML))
</script>
